<header class="navbar fixed-top navbar-dark">
    <a title="Wok Studio" class="navbar-brand" href="index.html">
        <img src="../../../assets/Images/WS_favicon.png" class="d-inline-block align-top logo-img" alt="">
        Wok Studio
    </a>
    <span class="navbar-text">
        Hundreds of flavours , at one place!
    </span>
    <a id="backBtn" (click)="navigate_back()">
        <i class="fas fa-arrow-circle-left"></i>&nbsp;Go back to search menu
    </a>
</header>
<div class="container-fluid">
        <nav class="col-md-3 left-column">
            <h3>Your Account</h3>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab">
                Basic Information</a>
                <a class="nav-link" id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab">
                Add/ Update Address</a>
                <a class="nav-link" id="v-pills-fav-tab" data-toggle="pill" href="#v-pills-fav" role="tab">View Favourites</a>
                <a class="nav-link" id="v-pills-order-status-tab" data-toggle="pill" href="#v-pills-order-status" role="tab">
                View Order Status</a>
                <a class="nav-link" id="v-pills-past-orders-tab" data-toggle="pill" href="#v-pills-past-orders" role="tab">
                View Past Orders</a>
                <a class="nav-link" id="v-pills-signout-tab" (click)="navigate_signin()" role="tab">
                Sign Out</a>
            </div>
        </nav>
        <section class="col-md-9 right-column">
            <div class="subcontainer">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel">
                        <h4><i class="fas fa-user"></i>&nbsp;Your Basic Info</h4>
                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne">
                                  <span >Name:&nbsp;</span> <label [(ngModel)]="fullName" ngDefaultControl>{{fullName}}</label>
                                </button>
                              </h2>
                            </div>

                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                              <div class="card-body">
                                <h5>EDIT NAME</h5>
                                  <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" [(ngModel)]="firstname" name="firstname">
                                  </div>
                                  <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" [(ngModel)]="lastname" name="lastname">
                                  </div>
                                  <button type="submit" class="btn btn-primary updateBtn" (click)="UpdateUserName(firstname,lastname)">Update Name</button>&nbsp;
                                  <button type="reset" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" id="cancelname" 
                                  (click)="ClearMessage()">Cancel
                                  </button>&nbsp;<label class = "success-msg" [(ngModel)]="infomsgName" ngDefaultControl> {{infomsgName}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo">
                                  <span>Email:&nbsp;</span> <label [(ngModel)]="email" ngDefaultControl>{{email}}</label>
                                </button>
                              </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                              <div class="card-body">
                                <h5>EDIT EMAIL</h5>
                                  <div class="form-group">
                                    <label>New Email</label>
                                    <input class="form-control" [(ngModel)]="newemail">
                                  </div>
                                  <button type="submit" class="btn btn-primary updateBtn" (click)="UpdateEmail(newemail)">Update Email</button>&nbsp;
                                  <button type="reset" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseTwo" (click)="ClearMessage()">Cancel
                                  </button>&nbsp;<label class = "success-msg" [(ngModel)]="infomsgEmail" ngDefaultControl> {{infomsgEmail}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree">
                                  <span>Contact Number:&nbsp;</span><label [(ngModel)]="contact" ngDefaultControl>{{contact}}</label>
                                </button>
                              </h2>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                              <div class="card-body">
                                <h5>EDIT CONTACT NUMBER</h5>
                                  <div class="form-group">
                                    <label>New Contact No.</label>
                                    <input class="form-control" [(ngModel)]="newcontact">
                                  </div>
                                  <button type="submit" class="btn btn-primary updateBtn" (click)="UpdateContact(newcontact)">Update Contact</button>&nbsp;
                                  <button type="reset" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseThree" (click)="ClearMessage()">Cancel
                                  </button>&nbsp;<label class = "success-msg" [(ngModel)]="infomsgContact" ngDefaultControl> {{infomsgContact}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingFour">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour">
                                  <span>Password:&nbsp;</span> ********
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                              <div class="card-body">
                                <h5>EDIT PASSWORD</h5>
                                  <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="newpwd">
                                  </div>
                                  <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="confirmpwd">
                                  </div>
                                  <button type="submit" class="btn btn-primary updateBtn" (click)="UpdatePwd(newpwd,confirmpwd)">Update Passowrd</button>&nbsp;
                                  <button type="reset" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFour" (click)="ClearMessage()">Cancel
                                  </button>&nbsp;<label class = "success-msg" [(ngModel)]="infomsgPwd" ngDefaultControl> {{infomsgPwd}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-address" role="tabpanel">
                        <h4><i class="fas fa-map-marker-alt"></i>&nbsp;Your address</h4>
                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne">
                                  <span>+&nbsp;</span> Update your address
                                </button>
                              </h2>
                            </div>

                            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                              <div class="card-body">
                                <h5>Update Address</h5>
                                  <div class="form-group">
                                    <label>Street address</label>
                                    <input class="form-control" id="street" placeholder="e.g. 399 Main St" [(ngModel)]='streetAdd' name="streetAdd">
                                  </div>
                                  <div class="form-group">
                                    <label>Apt/ Suite/ Floor</label>
                                    <input class="form-control" id="apt" placeholder="e.g. 21F" [(ngModel)]="aptAdd">
                                  </div>
                                  <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" id="city" placeholder="e.g. Dallas" [(ngModel)]="cityAdd">
                                  </div>
                                  <div class="form-group">
                                    <label>State</label>
                                    <input class="form-control" id="state" placeholder="e.g. TX" [(ngModel)]="stateAdd">
                                  </div>
                                  <div class="form-group">
                                    <label>Zip code</label>
                                    <input class="form-control" id="zip" placeholder="e.g. 70012" [(ngModel)]="zipAdd">
                                  </div>
                                  
                                  <button type="submit" class="btn btn-primary addBtn" (click)="UpdateAddress(streetAdd,aptAdd,cityAdd,stateAdd,zipAdd)">Update</button>&nbsp;
                                  <button type="reset" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne">Cancel
                                  </button>&nbsp;<label class = "success-msg" [(ngModel)]="infomsgAddress" ngDefaultControl> {{infomsgAddress}}</label>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                    <div class="tab-pane fade" id="v-pills-fav" role="tabpanel">
                        <h4><i class="fas fa-heart"></i>&nbsp;Your Favourite Food Items</h4><br><br>
                        <div class="single-item-container" *ngFor="let singleProduct of products">
                            <label [(ngModel)]="singleProduct.title" name="singleProduct.title" hidden ngDefaultControl>{{singleProduct.title}}</label>
                            <div class="item-img-container">
                                <a data-toggle="modal" data-target="#product-description-modal"><img class="item-img" src="../../../assets/Images/{{singleProduct.filePath}}" alt="" title="">
                                </a>
                            </div>
                            <div class="item-name" >
                                <a data-toggle="modal" data-target="#product-description-modal" (click)="SingleProdDetails(singleProduct.title)"><h4>{{singleProduct.title}}</h4></a>
                            </div>
                            <div class="item-remove">  
                            <i class="fas fa-trash-alt" (click)="removeFavorite()"></i>
                            </div>
                            <div class="item-rating">
                                {{singleProduct.avgRating}} star
                            </div>
                            <div class="item-price">
                                ${{singleProduct.price}}
                            </div>
                            <div class="item-quantity">
                                Available: {{singleProduct.stockQty}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-order-status" role="tabpanel">
                        <h4><i class="fas fa-history"></i>&nbsp;Your Order Status</h4>
                    </div>
                    <div class="tab-pane fade" id="v-pills-past-orders" role="tabpanel">
                        <h4><i class="fas fa-calendar-check"></i>&nbsp;Your Past Orders</h4>
                    </div>
                </div>
            </div>
        </section>


        <!--<div class="modal fade" id="signout-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Log Out Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to sign out?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary signoutBtn">Sign Out</button>
              </div>
            </div>
          </div>
        </div>-->

</div>

<footer class="footer-copyright text-center footnote py-3">
    <img class="logo-img" src="../../../assets/Images/WS_logo.png" alt="Wok Studio-Logo" title="Wok Studio"><br>
    <span>CopyrightÂ© 2019 Wok Studio</span>
</footer>