<header class="navbar fixed-top navbar-dark">
    <a title="Wok Studio" class="navbar-brand" href="index.html">
        <img src="../../../assets/Images/WS_favicon.png" class="d-inline-block align-top logo-img" alt="">
        Wok Studio
    </a>
    <span class="navbar-text">
        Hundreds of flavours , at one place!
    </span>
    
</header>

<div class="container">
    <div id="signup-window">
        <form class="px-4 py-3" id="signup-form">
            <span class="text-heading">
                <h5>Create your account</h5>
            </span>
            <div class="form-group" id="firstname">
                <label>First Name</label>
                <input class="form-control" id="firstname-input" placeholder="First name" [(ngModel)] = 'firstname' name='firstname'>
            </div>
            <div class="form-group" id="lastname">
                <label>Last Name</label>
                <input class="form-control" id="lastname-input" placeholder="Last name" [(ngModel)] = 'lastname' name='lastname'>
            </div>
        </form>
        <form class="px-4 py-3">
            <div class="form-group" id="email">
                <label>Email address</label>
                <input class="form-control" id="email-input" placeholder="example@domain.com" [(ngModel)] = 'email' name='email'>
            </div>
            <div class="form-group" id="username">
                <label>Username</label>
                <input type="username" class="form-control" id="username-input" placeholder="Username" [(ngModel)] = 'username' name='username'>
            </div>
            <div class="form-group" id="password">
                <label>Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password (8 characters minimun))" [(ngModel)] = 'password' name='password'>
            </div>
            <div class="form-group" id="contactno">
                <label>Contact Number</label>
                <input class="form-control" id="contact-input" placeholder="xxx-xxx-xxxx" [(ngModel)] = 'contact' name='contact'>
            </div>
            <button type="submit" class="btn btn-primary" (click)="register(firstname, lastname, email, username, password, contact)" id="signup-button" >Create Account</button>
        </form>
    <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click) = "navigate_signin()" >&nbsp;&nbsp;Already a user? Sign In</a>
    </div>
</div>