
#Site{
    margin: 0;
    height: 100%;
}

.row{
    width:100%;
    margin-right: 0px;
    padding-left: 15px;
}

.container{
    margin-top: 90px;
    border: solid;
    height: 580px;
    overflow: hidden;
    background-color: rgb(0,0,0,0.11);
}

.home-left-container{
    box-sizing: inherit;
    position: relative;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: 0;
    float: left;
    overflow: hidden;
}

.home-right-container{
    padding-left: 0px;
    padding-top: 100px;
    padding-right: 50px;
    float: right;
    width: 47vw;
    height: 100vh;
    resize: inherit;
    margin: 0px;
}

.homepage-image{
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
}

.sign-in-container{
    padding: 2px;
    margin-right: 0px;
    margin-left: 420px;
    height: 5vh;
}

.search-container{
    position: relative;
    padding: 45px;
    margin-left: auto;
    width: 42vw;
    height: 500px;
    resize: inherit;
}

.text-content{
    text-align: left;
    margin-top: 3vw;
    height: 20vh;
    width: 37vw;
    padding: 2px;
}

h1{
    font-weight: 700;
    font-size: 3.5vw;
}

.search-bar{
    margin-top: 1vh;
    padding: 2px;
    width: 35vw;
    height: 8vh;
}

input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
}

.btn{
    height: 46px;
    background-color: #8a1009;
    border-collapse: collapse;
    border-style: none;
}

h4{
    text-align: right;
    font-weight: 700;
}
h4 a{
    text-decoration: none;
    padding: 10px;
    color: navy;
}

h4 a:hover {
    text-decoration: none;
    color: purple;
}

h4 a:active {
    text-decoration: none;
    color: red;
}

@media screen and (max-height: 600px),(max-width: 1300px){

.home-left-container{
    min-width: 100vw;
    min-height: 90vh;
    margin: 0px;
}

.home-right-container{
    min-width: 92vw;
    min-height: 10vh;
    margin: 0px;
    padding-left: 0vw !important;
    padding-top: 0vh !important;
    padding-right: 0vw;
    float: right;
}

.sign-in-container{
    position: relative;
    padding: 1vw;
    height: 8vh;
    float: right;
    margin-left: 0vw;
    margin-top: 2vh;
    width: 15vw !important;
    resize: inherit;
}

.search-container{
    position: relative;
    padding: 50px;
    margin-left: 0px !important;
    margin-right: auto;
    min-width: 40vw !important;
    height: 500px;
}

.text-content{
    position: relative;
    text-align: left;
    height: 5vh;
    width: 70vw !important;
    resize: inherit;
}

.search-bar{
    position: relative;
    margin-top: 10vh !important;
    padding: 2px;
    height: 3vh;
    width: 50vh;
    resize: inherit;
}
}

#signin-window{
    height: 500px;
    margin-top : 5vh;
    margin-left : 20vw;
    margin-bottom : 5vh;
    margin-right : 20vw; 
    border : solid;
    background-color: white;
}




@media screen and (max-height: 300px),(max-width: 700px){

h4{
    font-size: smaller;
    font-weight: 700;
}
h1{
    font-size: large;
}
input[type=text] {
  margin-top: 5vh;
  height: 5vh;
}
}