/*home.css*/
.searchBtn {
    width: 20%;
    height: 5%;
    margin: 24px 0 0 7px;
    text-align: center;
    cursor: pointer;
}
.btn{
    height: 46px;
    color: white;
    background-color: #f44242;
    border-collapse: collapse;
    border-style: none;
}

.btn-secondary{
    background-color: #f44242 !important;
}

.dropdown-toggle{
    font-weight: 600;
    color: white !important;
}

.dropdown-menu a{
    color: #f44242;
}

.dropdown-menu a:hover{
    color: white;
    background-color: #f44242;
}

.addButtonEffect{
    border-color: white;
    background-color: #28a745 !important;
    font-weight: 700;
}

.removeButtonEffect{
    border: none;
    font-weight: 600;
}

.addLinkEffect{
    background-color: #f44242 !important;
}

.removeLinkEffect{
    background-color: transparent !important;
}

#carousel-container{
    position: relative;
    overflow: hidden;
    padding: 5px;
    height: 320px;
}

.carousel{
    height: 320px;
}

.filters-container{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: auto;
    height: auto;
    padding: 5px;
}

.filter-groups{
    margin-top: 20px;
}

.filter-groups div{
    font-weight: 600;
}

.left-heading{
    padding: 5px;
}

.btn-group{
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    min-width: 250px;
    padding: 2px;
}

.filterBtn{
    background-color: white;
    color: #f44242;
    border: double;
    border-color: black;
}

#display-selected-filters{
    position: relative;
    margin-top: 5px;
    height: 62px;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
}

#sort-container{
    float: right;
    position: relative;
    padding: 2px;
    width: 220px;
    height: 50px;
    text-align: right;
}

#sort-container label{
    position: relative;
    float: left;
    vertical-align: middle;
    width: 35px;
    height: 30px;
}

.single-item-container{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 115px;
    padding: 5px;
}

.item-img-container{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    float: left;
    clear: none;
}

.item-img-container img{
    width: 100px;
    height: 100px;
}

.modal-body .card{
    padding-left: 20px;
    padding-right: 20px;
    width: 750px;
    height: auto;
    overflow: hidden;
    scroll-behavior: all;
}

.card-img-top{
    width: 650px;
    align-self: center;
    height: 350px;
}

.item-name{
    position: relative;
    margin-left: 20px;
    float: left;
    clear: none;
    width: auto;
}

.item-rating, .item-price, .item-quantity, .item-fav{
    position: relative;
    margin-right: 20px;
    width: 100px;
    height: 45px;
    float: right;
}
.item-fav{
    cursor: pointer;
}
.item-place-order{
    position: relative;
    width: 240px;
    height: 50px;
    margin-left: 800px;
    margin-top: 50px;
    text-align: right;
    color: white;
    font-weight: 400;
}

.item-place-order a:hover{
    background-color: #28a745 !important;
}

.left-column a{
    color: #f44242;
    font-weight: 500;
}

/*user_account.css*/


#backBtn{
    color: white;
    font-weight: 500;
}

#backBtn :hover{
    color: #28a745;
}

.subcontainer{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}

.nav-link.active{
    background-color: #f44242 !important;
    color: white;
    font-weight: 500;
}

.btn-link{
    background-color: transparent;
    border: dashed;
    border-color: #f44242;
    color: #f44242;
    text-decoration: none !important;
}

.btn-link span{
    color: black !important;
}

#v-pills-signout-tab{
    cursor: pointer;
    color: #f44242 !important;
}

.form-control{
    width: 50%;
}

.updateBtn, .signoutBtn{
    background-color: #28a745;
}

.addBtn{
    background-color: #28a745;
    width: 15%;
}

#apt, #city, #state, #zip{
    width: 25%;
}


