<div class="site">
<header class="navbar fixed-top navbar-dark">
    <a title="Wok Studio" class="navbar-brand" href="index.html">
        <img src="../../../assets/Images/WS_favicon.png" class="d-inline-block align-top logo-img" alt="">
        Wok Studio
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTxt" placeholder="Search" aria-label="Search" name="searchTxt">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="SearchProducts(searchTxt)">Search</button>
    </form>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hi, Meghna!
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="navigate_user_account()" ><i class="fas fa-user"></i> My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="navigate_signin()" ><i class="fas fa-sign-out-alt"></i> Sign Out!</a>
        </div> &nbsp;
        <a class="navbar-brand" (click)="navigate_cart()">
            <i class="fas fa-shopping-basket"></i>
        </a>
    </div>
</header>
<div class="container-fluid">
        <nav class="col-md-3 left-column">
            <div class="left-heading">
                <h3>Filters</h3>
            </div>

            <section class="filters-container">
                <section id="rating-filter-group" class="filter-groups">
                    <div>Rating</div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn filterBtn" (click)="RatingFilter(1)"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn filterBtn" (click)="RatingFilter(2)"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn filterBtn" (click)="RatingFilter(3)"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn filterBtn" (click)="RatingFilter(4)"><i class="fas fa-star"></i></button>
                        <button type="button" class="btn filterBtn" (click)="RatingFilter(5)"><i class="fas fa-star"></i></button>
                    </div>
                </section>
                <section id="price-filter-group" class="filter-groups">
                    <div>Price</div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn filterBtn" (click)="PriceFilter(5)">
                            $5
                        </button>
                        <button type="button" class="btn filterBtn" (click)="PriceFilter(10)">
                            $10
                        </button>
                        <button type="button" class="btn filterBtn" (click)="PriceFilter(20)">
                            $20
                        </button>
                        <button type="button" class="btn filterBtn" (click)="PriceFilter(30)">
                            $30
                        </button>
                        <button type="button" class="btn filterBtn" (click)="PriceFilter(50)">
                            $50
                        </button>
                    </div>
                </section>
            </section>
            <button class="searchBtn" (click)="ApplyFilters()">Apply</button>
        </nav>
        <section class="col-md-9 right-column">
            <div id="carousel-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../../../assets/Images/homeimg1.jpg" height="320" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../../../assets/Images/homeimg2.jpg" height="320" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../../../assets/Images/homeimg3.jpg" height="320" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <section id="display-selected-filters">
                <div id="sort-container">
                    <label>Sort:</label>
                    <div>
                        <select [(ngModel)]="option" id="sorted-option" (ngModelChange)="SortProducts(option)">
                            <option [value]="option" *ngFor="let option of options ">{{option}}</option>
                        </select>
                    </div>
                </div>
            </section>
            <section id="items-container">
                <div class="single-item-container" *ngFor="let singleProduct of products | paginate: {itemsPerPage: 6, currentPage: p}; let i = index">
                    <label [(ngModel)]="singleProduct.title" name="singleProduct.title" hidden ngDefaultControl>{{singleProduct.title}}</label>
                    <div class="item-img-container">
                        <a data-toggle="modal" data-target="#product-description-modal"><img class="item-img" src="../../../assets/Images/{{singleProduct.filePath}}" alt="" title="">
                        </a>
                    </div>
                    <div class="item-name" >
                        <a data-toggle="modal" data-target="#product-description-modal" (click)="SingleProdDetails(singleProduct.title)"><h4>{{singleProduct.title}}</h4></a>
                    </div> 
                    <div class="item-fav" (click)="AddFavorite(singleProduct.title)">
                        <i class="far fa-heart" id="heart"></i>
                    </div>
                    <div class="item-rating">
                        {{singleProduct.avgRating}} star
                    </div>
                    <div class="item-price">
                        ${{singleProduct.price}}
                    </div>
                    <div class="item-quantity">
                        Available: {{singleProduct.stockQty}}
                    </div>
                    <div class="item-place-order">
                        <a data-toggle="modal" data-target="#addToBasket-modal" class="btn btn-primary" (click)="AddToBasket(singleProduct.id)">Add to basket</a>
                    </div>
                </div>
            </section>
            <section id="pagination-container">

                <pagination-controls (pageChange) = "p=$event"></pagination-controls>
               <!-- <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;&nbsp;&laquo;</span></a>
                        </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;</span></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"><span>&raquo;</span></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#"><span>&raquo;&nbsp;&raquo;</span></a>
                        </li>
                    </ul>
                </nav>-->
            </section>
        </section>


        <div class="modal fade bd-example-modal-lg" id="product-description-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle" [(ngModel)]="titleProduct" ngDefaultControl>{{titleProduct}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <div class="card">
                      <img src="../../../assets/Images/{{filePath}}" class="card-img-top" alt="..." [(ngModel)]="filePath">
                      
                    </div>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade bd-example-modal-lg" id="addToBasket-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <div class="alert alert-success" role="alert">
                          This item has been added to your basket!
                      </div>
              </div>
            </div>
          </div>
        </div>


</div>

<footer class="footer-copyright text-center footnote py-3">
    <img class="logo-img" src="../../../assets/Images/WS_logo.png" alt="Wok Studio-Logo" title="Wok Studio"><br>
    <span>CopyrightÂ© 2019 Wok Studio</span>
</footer>
</div>